{% extends "vesit/base.html" %}

{% block home %}
<div class="card shadow p-3 mb-2 bg-white rounded w-100">
    <div class="row pt-3 justify-content-center">
        <div class="col-8 w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <h5 class="card-title">{{ event.name }}</h5>
            </div>
        </div>
        {% if event.committee %}
        <h6 class="card-subtitle mb-2 text-muted">By: <a style="position: relative;" href="" class="text-decoration-none"><strong>{{ event.committee }}</strong></a> </h6>
        {% else %}
        <h6 class="card-subtitle mb-2 text-muted">By: <a style="position: relative;" href="" class="text-decoration-none"><strong>{{ event.council }}</strong></a> </h6>
        {% endif %}
        <h6 class="card-subtitle mb-2 text-muted">Description: <a style="position: relative;" href="" class="text-decoration-none"><strong>{{ event.description }}</strong></a> </h6>
        <p class="card-text">Location: {{ event.location }}</p>
        
        <p class="card-text">From: <small class="text-muted">{{ event.start_time }}</small></p>
        <p class="card-text">To: <small class="text-muted">{{ event.end_time }}</small></p>
        
    </div>
    </div>
    </div>
</div>

{% endblock %}