{% extends "vesit/base.html" %}

{% block home %}
<div class="row flex-xl-nowrap">

    <div class="col-sm-12 col-md-8 col-lg-8 pt-3">
        {% for student in team_students %}
           <div class= "container">
                <div class="card shadow p-3 mb-3 bg-white rounded">
                    <h1>{{ student.student.name }}</h1>
                    
                    <div class="card-body">
                        <a href="{% url 'team_student_detail' student.id %}" class="stretched-link"></a>
                        <h5 class="card-title">{{ student.team.name }}</h5>
                        <p class="card-text"><small class="text-muted">{{ student.student_type }}</small></p>
                    </div>
                </div>
                </div>

                {% endfor %}

            {% if page_obj.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1"> First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> Previous</a>
                    </li>
                    {% endif %}
        
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}"> {{ num }}</a>
                    </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}"> {{ num }}</a>
                    </li>
                    {% endif %}

                    {% endfor %}
        
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"> Next </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> Last </a>
                    </li>
                    {% endif %}
                </ul>
            {% endif %}
    </div>  

    <div class="col-sm-12 col-md-4 col-lg-4 pt-3">
        <a href="{% url 'team_student_create' %}" class="btn btn-primary">Register </a>
    </div>  


</div>

{% endblock %}